<div class="products">
  <h1>Administador de productos</h1>

  <h2>Registro de productos</h2>
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <label for="item">Item relacionado</label>
    <select (change)="changeItem($event)" formControlName="itemCode" id="item">
      <option value="" disabled>Elige el item</option>
      <option *ngFor="let item of items" [value]="item.itemCode">
        {{ item.name }}
      </option>
    </select>

    <label for="price">Precio</label>
    <input id="price" type="text" formControlName="price" />

    <button [disabled]="!productForm.valid" type="submit">Registar Item</button>
  </form>

  <hr />

  <h2>Productos del proveedor</h2>

  <table>
    <thead>
      <tr>
        <th>Id Item</th>
        <th>Nombre de producto</th>
        <th>Precio del producto</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody *ngIf="provider">
      <tr *ngFor="let item of providerItems">
        <td>{{ item.itemCode }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.price }}</td>
        <td><button (click)="deleteItem(item.itemCode)">Borrar</button></td>
      </tr>
    </tbody>
  </table>
</div>
